extends ../frame

block content
    div.ui.aligned.segment
        div.ui.breadcrumb
            a.section 合同管理
            i.right.chevron.icon.divider
            div.active.section 合同详情
    div.ui.grid.aligned.segment
        div.ten.wide.column.centered#tabsContainer
            div.ui.top.attached.tabular.menu
                a.active.item(data-tab="detail") 合同详情
                a.item(data-tab="payment") 回款记录
                a.item(data-tab="invoice") 开票记录
                a.item(data-tab="deposit") 保证金记录
            div.ui.bottom.attached.active.tab.segment#contractDetailTab(data-tab="detail")
                - var contractItems = contract.list[0] || {defaultVal: "暂无"};
                table.ui.grey.compact.selectable.celled.striped.table
                    thead
                        tr
                            th(colspan="2")
                    tbody
                        tr
                            td.collapsing
                                | 合同编号:
                                span #{contractItems.contract_number || contractItems.defaultVal}
                            td.collapsing
                                | 合同金额:
                                span #{contractItems.contract_price || contractItems.defaultVal}
                        tr
                            td.collapsing
                                | 甲方名称:
                                span #{contractItems.first_party_name || contractItems.defaultVal}
                            td.collapsing
                                | 保证金:
                                span #{contractItems.deposit ? contractItems.deposit + " 元" : contractItems.defaultVal}
                        tr
                            td.collapsing
                                | 甲方地区:
                                span #{contractItems.region_name + "-" + contractItems.province_name + "-" + contractItems.city_name}
                            td.collapsing
                                | 应付总额:
                                span #{contractItems.contract_price + contractItems.deposit + " 元"}
                        tr
                            td.collapsing
                                | 乙方名称:
                                span #{contractItems.second_party_name || contractItems.defaultVal}
                            td.collapsing
                                | 已付金额:
                                span #{contractItems.paid_price + " 元"}
                        tr
                            td.collapsing
                                | 合同类型:
                                sapn #{contractItems.contract_type_name}
                            td.collapsing
                                | 待付金额:
                                span #{(contractItems.contract_price*1000 + contractItems.deposit*1000 - contractItems.paid_price*1000)/1000 + " 元"}
                        tr
                            td.collapsing
                                | 生效时间:
                                span #{contractItems.effective_time || contractItems.defaultVal}
                            td.collapsing
                                | 已开票金额:
                                span #{contractItems.invoice_price ? contractItems.invoice_price  + "元" : "0 元"}
                        tr
                            td.collapsing
                                | 结束时间:
                                span #{contractItems.end_time || contractItems.defaultVal}
                            td.collapsing
                                - var contractStatus = "";
                                    case contractItems.contract_status
                                        when 0
                                            - contractStatus = "待生效";
                                        when 1
                                            - contractStatus = "执行中";
                                        when 2
                                            - contractStatus = "完结";
                                        when 3
                                            - contractStatus = "逾期";
                                    | 合同状态: #{contractStatus}
                        tr
                            td.collapsing
                                | 对应销售:
                                span #{contractItems.saler_name || contractItems.defaultVal}
                            td.collapsing
                div.ui.horizontal.header.divider
                    i.warning.circle.icon.blue
                    | 请慎重做以下操作
                div.ui.three.column.grid#operationTab(data-id="#{contractItems.contract_number}")
                    div.wide.column
                        button.ui.fluid.primary.aligned.button#modifyBtn 修改合同
                    div.wide.column
                        button.ui.fluid.primary.aligned.button#removeBtn 删除合同
                    div.wide.column
                        if contractItems.contract_status == 0
                            button.ui.fluid.primary.aligned.button#verifyBtn 审核通过
                        else
                            button.ui.fluid.primary.aligned.button.disabled 审核通过
            div#contractModal.ui.modal
                div.header 修改合同
                i.close.icon
                div.content
                    div.ui.segment.attached.small.form
                        div.field
                            label 合同编号
                            input(type="text", id="nContractNumber", disabled="true", placeholder="合同编号", value="#{contractItems.contract_number || contractItems.defaultVal}")
                        div.three.fields
                            div.field
                                label 甲方名称
                                select.ui.dropdown.search#nFirstPartyDropdown(data-origin-name="#{contractItems.first_party_id || contractItems.defaultVal}")
                                    option(value="") 请选择甲方
                            div.field
                                label 乙方名称
                                select.ui.dropdown.search#nSecondPartyDropdown(data-origin-name="#{contractItems.second_party_id || contractItems.defaultVal}")
                                    option(value="") 请选择乙方
                            div.field
                                label 合同类型
                                select.ui.dropdown#nContractTypeDropdown(data-origin-name="#{contractItems.contract_type || contractItems.defaultVal}")
                                    option(value="") 请选择合同类型
                                    each type, i in contract.type
                                        option(value="#{type.id}") #{type.contract_type_name}
                        div.two.fields
                            div.field
                                label 生效时间
                                    input(type="text", id="nEffectiveTime", placeholder="生效时间", readonly="readonly", value="#{contractItems.effective_time || contractItems.defaultVal}")
                            div.field
                                label 结束时间
                                    input(type="text", id="nEndTime", placeholder="结束时间", readonly="readonly", value="#{contractItems.end_time || contractItems.defaultVal}")
                        div.two.fields
                            div.field
                                label 合同金额
                                    input(type="number", id="nPrice", placeholder="合同金额", value="#{contractItems.contract_price || contractItems.defaultVal}")
                            div.field
                                label 保证金
                                    input(type="number", id="nDeposit", placeholder="保证金", value="#{contractItems.deposit ? contractItems.deposit : contractItems.defaultVal}")
                        div.field
                            button.ui.fluid.primary.button#confirmContractBtn 修改
                    div.ui.bottom.attached.hidden.warning.message#contractModalMsg
                        i.icon.help
                        span
            div.ui.bottom.attached.tab.segment#paymentTab(data-tab="payment")
                div.ten.wide.column.centered
                    table.ui.grey.compact.selectable.celled.striped.table
                        thead
                            tr.center.aligned
                                th 回款类型
                                th 入账银行
                                th 回款金额
                                th 回款时间
                                th 记录人
                                th 记录时间
                        tbody#paymentList
                        tfoot
                            tr
                                th(colspan="6")
                                    div#addPaymentBtn.ui.right.floated.small.primary.labeled.icon.button 添加回款
                                        i.plus.icon
                        div.ui.inverted.dimmer(id="paymentListLoader")
                            div.ui.loader
                        div#paymentModal.ui.modal
                            div.header 添加回款
                            i.close.icon
                            div.content
                                div.ui.segment.small.form.attached
                                    div.two.fields
                                        div.field
                                            label 回款金额
                                            input(type="text", id="nPaymentPrice", placeholder="回款金额")
                                        div.field
                                            label 回款时间
                                            input(type="text", id="nPaymentTime", placeholder="回款时间", readonly="true")
                                    div.two.fields
                                        div.field
                                            label 入账银行
                                            select.ui.dropdown#nPaymentBankDropdown
                                                option(value="") 请选择
                                        div.field
                                            label 回款类型
                                            select.ui.dropdown#nPaymentTypeDropdown
                                                option(value="1") 合同金额
                                                option(value="2") 保证金
                                    div.field
                                        button.ui.fluid.primary.button#confirmPaymentBtn 确定
                                div.ui.bottom.attached.hidden.warning.message#paymentModalMsg
                                    i.icon.help
                                    span
            div.ui.bottom.attached.tab.segment#invoiceTab(data-tab="invoice")
                div.ten.wide.column.centered
                    table.ui.grey.compact.selectable.celled.striped.table
                        thead
                            tr.center.aligned
                                th 发票编号
                                th 发票金额
                                th 开票时间
                                th 记录人
                                th 记录时间
                        tbody#invoiceList
                        tfoot
                            tr
                                th(colspan="6")
                                    div#addInvoiceBtn.ui.right.floated.small.primary.labeled.icon.button 添加发票
                                        i.plus.icon
                        div.ui.inverted.dimmer(id="invoiceListLoader")
                            div.ui.loader
                        div#invoiceModal.ui.modal
                            div.header 添加发票
                            i.close.icon
                            div.content
                                div.ui.segment.small.form.attached
                                    div.two.fields
                                        div.field
                                            label 发票编号
                                            input(type="text", id="nInvoiceNumber", placeholder="发票编号")
                                        div.field
                                            label 发票金额
                                            input(type="number", id="nInvoicePrice", placeholder="发票金额")
                                    div.two.fields
                                        div.field
                                            label 开票时间
                                            input(type="text", id="nInvoiceTime", placeholder="开票时间", readonly="true")
                                        div.field
                                    div.field
                                        button.ui.fluid.primary.button#confirmInvoiceBtn 确定
                                div.ui.bottom.attached.hidden.warning.message#invoiceModalMsg
                                    i.icon.help
                                    span
            div.ui.bottom.attached.tab.segment#depositTab(data-tab="deposit")
    script.
        require(["/app/config.js"], function () {
            require(["/app/contract/contractDetail.js"]);
        });