extends ../frame

block content
	div.ui.aligned.segment
		div.ui.breadcrumb
			a.section 合同管理
			i.right.chevron.icon.divider
			div.active.section 回款列表
	div.ui.segment.small.form
		div.equal.width.fields
			div.field
				label 合同编号
				input(type="text", id="contractNumber", placeholder="合同编号")
			div.field
				label 甲方名称
				input(type="text", id="firstPartyName", placeholder="甲方名称")
			div.field
				label 乙方名称
				input(type="text", id="secondPartyName", placeholder="乙方名称")
			div.field
				label 合同生效
				input(type="text", id="effectiveTime", placeholder="合同生效时间")
			div.field
				label 合同结束
				input(type="text", id="endTime", placeholder="合同结束时间")
			div.field
				label 销售名称
				input(type="text", id="salerName", placeholder="销售名称")
		div.equal.width.fields
			div.field
				label 入账银行
				select.ui.dropdown#paymentBank
					option(value="-1") 所有银行
					each item in contract.bank
						option(value="#{item.id}") #{item.bank_name}
			div.field
				label 回款起始
				input(type="text", id = "paymentBeginTime", placeholder="回款起始时间")
			div.field
				label 回款结束
				input(type="text", id = "paymentEndTime", placeholder="回款结束时间")
			div.field
				label 记录起始
				input(type="text", id = "createBeginTime", placeholder="记录起始时间")
			div.field
				label 记录结束
				input(type="text", id = "createEndTime", placeholder="记录结束时间")
		div.fields
			div.field
				button#queryBtn.ui.primary.button 查询
			div.field
				button.ui.primary.button 导出
	div.ui.stacked.segment
		table.ui.celled.selectable.striped.grey.table
			thead
				tr.ui.center.aligned.segment
					th 合同号
					th 回款金额
					th 合同金额
					th 保证金
					th 应付总额
					th 甲方
					th 甲方地区
					th 乙方
					th 合同类型
					th 生效时间
					th 结束时间
					th 回款时间
					th 入账银行
					th 销售名称
					th 记录人
					th 记录时间
			tbody#paymentList
				each item in contract.payment.list
					tr.ui.center.aligned.segment
						td #{item.contract_number}
						td #{item.payment}
						td #{item.contract_price}
						td #{item.deposit}
						td #{item.contract_price + item.deposit}
						td #{item.first_party_name}
						td #{item.region_name + '-' + item.province_name + '-' + item.city_name}
						td #{item.second_party_name}
						td #{item.contract_type_name}
						td #{item.effective_time}
						td #{item.end_time}
						td #{item.payment_time}
						td #{item.bank_name}
						td #{item.saler_name}
						td #{item.user_name}
						td #{item.create_time}
			tfoot
				tr
					th(colspan="18")
						div.ui.left.floated.pagination.menu#paginationBtn
							a.icon.item(data-disable="#{contract.payment.pagination.isFirst}", data-type="prev", data-curr="#{contract.payment.pagination.pageNo}")
								i.left.chevron.icon
							each page in contract.payment.pagination.count
								if contract.payment.pageIndex == page
									a.item.active #{page}
								else
									a.item #{page}
							a.icon.item(data-disable="#{contract.payment.pagination.isLast}", data-type="prev", data-curr="#{contract.payment.pagination.pageNo}")
								i.right.chevron.icon
			script.
				require(["/app/config.js"], function () {
					require(["/app/contract/paymentList.js"]);
				});